// Place all the styles related to the admins/Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.index-box {
  width: 100%;
  margin: 40px auto;

  &__title {
    width: 60%;
    margin: 0 auto 15px;
    display: flex;
    text-align: left;
  }

  &__table {
    display: flex;
    justify-content: center;

    &--green {
      color: #00CC00;
    }

    &--gray {
      color: #DDDDDD;
    }
  }
}


table {
  border-collapse: collapse;
}

table th {
  width: 200px;
  height: 40px;
  border: solid 1px black;
  background-color: #CCCCCC;
}

table td {
  text-align: center;
  width: 200px;
  height: 30px;
  border: solid 1px black;
  background-color: #fff;
}

.show-box {
  width: 100%;
  margin: 40px auto;

  &__title {
    width: 60%;
    margin: 0 auto 15px;
    display: flex;
    text-align: left;
  }

  &__user-date {
    width: 70%;
    display: flex;
    justify-content: center;
  }

  &__element {
    height: 300px;
    font-size: 18px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__date {
    height: 300px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &--green {
      color: #00CC00;
    }

    &--gray {
      color: #DDDDDD;
    }
  }
}

