<h2>Aboutページ</h2>

<p>
  ブログでは美味しい料理の紹介やポイ活したい人向けのやり方や実績をブログにて紹介していきます。<br>
  また、ショップサイトで個人の趣味で作っているハンドメイド商品や使わなくなった物などを販売してます。<br>
  是非、一度ご覧ください！
</p>

<p>
  ブログや商品の閲覧は、会員でなくても自由に閲覧可能です。<br>
  購入したい商品がある場合は、購入する際に会員登録が必要ですので、<br>
  お手数ですが登録手続きをお願いします。
</p>