<div class="main-visual">

</div>

<div class="box">
  <div class="box__blog">
    <%= link_to 'BLOG', blogs_path, class: 'EDITlink' %>
  </div>
  <div class="box__item">
    <%= link_to 'SHOP', items_path, class: 'EDITlink' %>
  </div>
</div>