<div class="comment-form">
  <div class="comment-form__inner">
    <h3 class="comment-form__title">コメント投稿</h3>
  </div>
  <div class="comment-form__form-box">
    <%= form_with model: comment, url: blog_comments_path(blog.id), local: true do |f| %>
      <div class="comment-form__comment">
        <%= f.text_area :comment, size: "30x10", placeholder: "こちらにコメントを書き込んでください" %>
      </div>
      <div class="comment-form__submit">
        <%= f.submit "コメントする" %>
      </div>
    <% end %>
  </div>
</div>